/* Style sheet used in the Porfolio page such as Navbar, AboutMe and Projects divisions*/
body{
    background-color: #ccc;
}

#Header a:hover{
    background-color: rgb(48, 67, 133);

}

h2{
    color:white;

}

#bg-img{
    background: url('img/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}
ul{
    margin-left: 10px;
}
#About{
    margin-top:-200px;
    
    
}
.team{
    background-color: #ccc;
}
#About .fab {
    color: white;

}
#About .fas {
    color: white;

}
.nav-link{
    font-size: 20px;
    
}
#Projects{
    background-color: #0aa3b8;
    color:white;
}
.cardfooter {
    color: white;
}
.intro{
    font-size: 25px;
    padding: 20px
}
